<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net462" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net462" />
  <package id="Code.Contract" version="1.0.0" targetFramework="net452" />
  <package id="MicrosoftAjax" version="4.0.20526.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="WebGrease" version="1.6.0" targetFramework="net462" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net452" />
</packages>